version: '1'
services:
  localstack:
    container_name: tech-challenge-localstack
    image: localstack/localstack:latest
    environment:
      - DEBUG=1
      - AWS_DEFAULT_REGION=sa-east-1
      - LOCALSTACK_HOSTNAME=localhost.localstack.cloud
      - LS_LOG=trace
    ports:
      - "127.0.0.1:4510-4559:4510-4559"  # external service port range
      - "127.0.0.1:4566:4566"            # LocalStack Edge Proxy
    volumes:
      - localstack:/tmp/localstack
    networks:
      default:
        aliases:
          - localhost.localstack.cloud
  postgres:
    container_name: tech-challenge-db
    image: postgres:13.8
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=tech-challenge-db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  project:
    container_name: tech-challenge-project
    depends_on:
      - postgres
      - localstack
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - postgre.address=host.docker.internal
    ports:
      - "8080:8080"
volumes:
  localstack:
  postgres_data: